certifi==2026.2.25
charset-normalizer==3.4.4
colorama==0.4.6
filelock==3.24.3
flatbuffers==25.12.19
funasr-onnx==0.4.1
idna==3.11
jieba==0.42.1
kaldi-native-fbank==1.22.3
lazy_loader==0.4
librosa==0.11.0
modelscope==1.34.0
mpmath==1.3.0
numpy==2.4.2
onnx==1.20.1
onnxruntime==1.24.2
packaging==26.0
protobuf==6.33.5
PyYAML==6.0.3
requests==2.32.5
scipy==1.17.1
sentencepiece==0.2.1
setuptools==82.0.0
sympy==1.14.0
tqdm==4.67.3
urllib3==2.6.3
